<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anthonyG.apps.prueba2_anthony_lopez_guerrero">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.anthonyG.apps.prueba2_anthony_lopez_guerrero.CrudClientes_BALG"
            android:exported="false" />
        <activity
            android:name="com.anthonyG.apps.prueba2_anthony_lopez_guerrero.LoginActivity_BALG" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.anthonyG.apps.prueba2_anthony_lopez_guerrero.MainActivity_BALG"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.anthonyG.apps.prueba2_anthony_lopez_guerrero.SettingsActivity_BALG"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.anthonyG.apps.prueba2_anthony_lopez_guerrero.MainActivity_BALG"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anthonyG.apps.prueba2_anthony_lopez_guerrero.MainActivity_BALG" />
        </activity>
    </application>

</manifest>